implementation.md
planning.md
backend/venv/
mobile-app/node_modules/
mobile-app/bin/
mobile-app/lib/
.env
data/*
!data/.gitkeep
startup.txt
python_graph2.py
front_end implementation.md
__pycache__/

frontend/